<div class="container-fluid sub_section pt-5 pb-5" id="aboutid">
  <div class="section_header text-center mb-5 mt-4">
    <h1>About COVID-19</h1>
  </div>
  <div class="row pt-5">
    <div class="col-lg-5 col-md col-12 ">
      <img src="assets/images/images.jpg" class="img-fluid" height="200px" width="500px">
    </div>
    <div class="col-lg col-md clo-12">
      <h2>What is COVID19(corona-virus)</h2>
      <p>Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover
        without requiring special treatment. Older people, and those with underlying medical problems like
        cardiovascular disease,
        diabetes, chronic respiratory disease,
        and cancer are more likely to develop serious illness.
        The best way to prevent and slow down transmission is be well informed about the COVID-19 virus, the disease it
        causes and how it spreads.
        Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and
        not touching your </p>
    </div>
  </div>
  <div class="container-fluid  pt-5 pb-5 symtos" id="symptoms">
    <div class="section_header text-center mb-5 mt-4">
      <h1>coronavirus Symptoms</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 mt-5">
          <figure class="text-center">
            <img src="assets/images/coughing.jpg" class="img-fluid" width="120" height="120">
            <figcaption>coughs</figcaption>
          </figure>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-5">
          <figure class="text-center">
            <img src="assets/images/unnamed.jpg" class="img-fluid" width="100" height="">
            <figcaption>Runs nose</figcaption>
          </figure>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-5">
          <figure class="text-center">
            <img src="assets/images/fever.jpg" class="img-fluid" width="120" height="120">
            <figcaption>fever</figcaption>
          </figure>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-5">
          <figure class="text-center">
            <img src="assets/images/cold2jpg.jpg" class="img-fluid" width="120" height="120">
            <figcaption>cold</figcaption>
          </figure>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-5">
          <figure class="text-center">
            <img src="assets/images/tide2.jpg" class="img-fluid" width="120" height="120">
            <figcaption>tiredness</figcaption>
          </figure>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-5">
          <figure class="text-center">
            <img src="assets/images/difficulty.jpg" class="img-fluid" width="120" height="120">
            <figcaption>deficult breathing</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>