<div class="main_header" id="ma">
    <div class="row w-100 h-100">
        <div class="col-lg-5 col-md-5 col-12 order-lg-1 order-2">
            <div class="leftsaid w-100 h-100 d-flex justify-content-center align-items-center">
                <img src="assets/images/main.png" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-12 order-lg-2 order-1">
            <div class="right w-100 h-100 d-flex justify-content-center align-items-center">
                <h1>Let's saty safe & Fight Together Aginst Cor&nbsp;<span id="corona_rot">
                        <img src="assets/images/download3.jpg" width="60px" height="60px" class="img"></span> &nbsp;na vairus</h1>
            </div>
        </div>
    </div>
</div>