<section class="corona_update">
    <div class="mb-3">
        <h3 class="text-uppercase text-center"><strong>COVID-19 Updates</strong></h3>
    </div>
    <div class="d-flex justify-content-around align-items-center count_style">
        <div>
            <h1 class="count">{{result.Global.NewConfirmed}}</h1>
            <p>Total NewConfirmed</p>
        </div>
        <div>
            <h1 class="count">{{result.Global.NewDeaths}}</h1>
            <p>NewDeaths</p>
        </div>
        <div>
            <h1 class="count">{{result.Global.NewRecovered}}</h1>
            <p>NewRecovered</p>
        </div>
        <div>
            <h1 class="count">{{result.Global.TotalDeaths}}</h1>
            <p>Death</p>
        </div>
    </div>
</section>