<div class="container-fluid sub_section pt-3 pb-3" id="prevention">
    <div class="section_header text-center mb-5 mt-2">
        <h1>6 steps to Prevantion Against CoronaVirus</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-12 mt-5">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <div>
                        <img src="assets/images/hand.png" width="90" height="90">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <p>bahdbskjnskjnsnsnsjnskjknflf
                        lkskmskmsmsklnskln
                        mlksnfsklnfsklfn
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12 mt-5">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <div>
                        <img src="assets/images/young2.jpg" width="90" height="90">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <p>bahdbskjnskjnsnsnsjnskjknflf
                        lkskmskmsmsklnskln
                        mlksnfsklnfsklfn
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12 mt-5">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <div>
                        <img src="assets/images/avoid.png" width="90" height="90">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <p>bahdbskjnskjnsnsnsjnskjknflf
                        lkskmskmsmsklnskln
                        mlksnfsklnfsklfn
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12 mt-5">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <div>
                        <img src="assets/images/homepng.png" width="90" height="90">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <p>bahdbskjnskjnsnsnsjnskjknflf
                        lkskmskmsmsklnskln
                        mlksnfsklnfsklfn
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12 mt-5">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <div>
                        <img src="assets/images/people.jpg" width="90" height="90">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <p>bahdbskjnskjnsnsnsjnskjknflf
                        lkskmskmsmsklnskln
                        mlksnfsklnfsklfn
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12 mt-5">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <figure>
                        <img src="assets/images/medicalpng.png" width="90" height="90" class="img-fluid">
                    </figure>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <p>bahdbskjnskjnsnsnsjnskjknflf
                        lkskmskmsmsklnskln
                        mlksnfsklnfsklfn
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>